body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #430101;
   }
   
   .quiz-container {
    max-width: 800px;
    background: rgb(29, 24, 24);
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    color: #ffffff;
   }
   
   h1 {
    color: #ffffff;
   }
   
   .question {
    font-weight: bold;
    margin: 10px 0;
    color: #ffffff;
   }
   
   .answers label {
    display: block;
    padding: 5px;
    cursor: pointer;
    color: #ffffff;
   }
   
   .answers input[type="radio"] {
    margin-right: 10px;
   }
   
   .btn {
    background: #71140a;
    color: white;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    border-radius: 5px;
    transition: background 0.3s ease;
   }
   
   .btn:hover {
    background: #23272b;
   }
   
   #results {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
   }
   
   hr {
    border: 0;
    height: 1px;
    background: #a76c6c;
    margin: 15px 0;
   }
   
   #results p {
    font-size: 18px;
    font-weight: bold;
   }
   
   #bestScore {
    font-size: 18px;
    font-weight: bold;
    color: #a76c6c;
   }
   
   #attemptHistory {
    list-style-type: none;
    padding: 0;
    color: white;
   }
   
   #attemptHistory li {
    background: #322f2f;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
   }
   